<div class="dropdown" dwopdown>
  <button class="btn btn-default dropdown-toggle" dropdown-toggle type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    対象者
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" dropdown-menu role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation" ng-repeat="member in memberList"><a role="menuitem" tabindex="-1" ng-click="getMemberInOutTimes(member)">{{member.get('name')}}</a></li>
  </ul>
</div>
<hr/>
<table class="table table-bordered .table-striped">
  <th>日付</th>
  <th>出勤</th>
  <th>退勤</th>
  <tr ng-repeat="inOutTime in inOutTimeList">
    <td>
      {{inOutTime.get('date')}}
    </td>
    <td>
      {{inOutTime.get('in')}}
    </td>
    <td>
      {{inOutTime.get('out')}}
    </td>
  </tr>
</table>
