<form ng-hide="currentUser">
  <h2>ログイン</h2>
  Email: <input type="text" ng-model="user.username" /><br />
  Password: <input type="password" ng-model="user.password" /><br />
  <button ng-click="logIn(user)">Login</button>
  <!-- <h2>Sign up</h2> -->
  <!-- Email: <input type="email" ng-model="user.email" /><br /> -->
  <!-- Password: <input type="password" ng-model="user.password_" /><br /> -->
  <button ng-click="signUp(user)">Sign up</button>
</form>

<div ng-show="currentUser">
  <h2>Welcome {{currentUser.get('username')}}</h2>
  <p>You have been successfully logged in</p>
  <button ng-click="logOut()">Log out</button>
</div>
