<span class="dropdown" dwopdown>
  <button class="btn btn-default dropdown-toggle" dropdown-toggle type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    <span>{{currentMember.get('name') || '対象者'}}</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" dropdown-menu role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation" ng-repeat="member in memberList"><a role="menuitem" tabindex="-1" ng-click="setCurrentMember(member);getMemberInOutTimes();">{{member.get('name')}}</a></li>
  </ul>
</span>
<span class="dropdown" dwopdown>
  <button class="btn btn-default dropdown-toggle" dropdown-toggle type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    <span>{{currentTargetMonth || '対象年月'}}</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" dropdown-menu role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation" ng-repeat="targetMonth in targetMonthList"><a role="menuitem" tabindex="-1" ng-click="setCurrentTargetMonth(targetMonth);getMemberInOutTimes();">{{targetMonth}}</a></li>
  </ul>
</span>
<span class="dropdown" dwopdown>
  <button class="btn btn-default dropdown-toggle" dropdown-toggle type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    <span>{{currentTargetDate || '対象日'}}</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" dropdown-menu role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation" ng-repeat="targetDate in [] | rangeFromOneWithBlank:31"><a role="menuitem" tabindex="-1" ng-click="setCurrentTargetDate(targetDate);getMemberInOutTimes();">{{targetDate}}</a></li>
  </ul>
</span>
<hr/>
<table class="table table-bordered .table-striped">
  <th>氏名</th>
  <th>日付</th>
  <th>出勤</th>
  <th>退勤</th>
  <!-- <th>出勤（直行時打刻）</th>
  <th>退勤（直帰時打刻）</th> -->
  <tr ng-repeat="inOutTime in inOutTimeList">
    <td>
      {{inOutTime.get('memberName')}}
    </td>
    <td>
      {{inOutTime.get('date')}}
    </td>
    <td>
      {{inOutTime.get('in')}}<!-- <span ng-show="inOutTime.get('chokko')">{{"（" + (inOutTime.get("chokkoDakokuTime") || "-") + "）" }}</span> -->
    </td>
    <td>
      {{inOutTime.get('out')}}<!-- <span ng-show="inOutTime.get('chokki')">{{"（" + (inOutTime.get('chokkiDakokuTime') || "-")+ "）"}}</span> -->
    </td>
  </tr>
</table>
